---
layout: archive
---

{{ content }}
<p class = "text-left"> Highly motivated and results-driven computer science graduate student seeking a challenging position in Artificial
Intelligence and Machine Learning. With a strong background in these fields and industry experience in software
development, I am confident that I can make a meaningful contribution to a company. </p>
#<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
